@use "plp-styling.scss";

/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set default font */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #affcff;
}

/* Set default link styles */
a {
  color: #007bff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0056b3;
  text-decoration: underline;
}

/* Set default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Black", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

/* Set default list styles */
ul,
ol {
  list-style: none;
}

/* Set default table styles */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Set default form styles */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: max(750px, 70%);
  text-align: center;
  margin: auto;
  justify-content: center;
  height: 100vh;
  .extra {
    position: fixed;
  }
}

.navbar {
  height: 50px;
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product_card {
  overflow: hidden;

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: lightgrey;
    color: white;
    transform: rotateY(180deg);
  }

  img {
    height: 100%;
  }
}

.idle-text {
  animation: idle-animation 10s infinite;
}

@keyframes idle-animation {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-5px, 5px) scale(1.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
